.center {
  width: 1324px;
  margin: 0 auto;
}

/* header */

.logo,
nav li,
nav {
  display: inline-block;

  vertical-align: middle;
}

nav {
  margin-left: 119px;
  /* width: 25%; */
}
nav li {
  margin-right: 48px;
}
nav li a {
  color: #181c28;
  line-height: 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
/* banner */
.banner {
  width: 100%;
  margin-top: 24px;
}

.position {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.banner-text h3 {
  line-height: 75px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.banner-text h2 {
  line-height: 70px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.left-box img,
.right-box img {
  width: 600px;
  height: 423px;
}

.left-box,
.right-box {
  width: 636px;
  float: left;
}
.left-box {
  margin-right: 52px;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}
.content h3 {
  line-height: 22px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #ff7a00;
  text-transform: capitalize;
}
.content {
  margin-top: 84px;
}
.clear {
  margin-top: 81px;
}

.left-box h2,
.right-box h2 {
  font-size: 36px;
  color: #181c28;
  line-height: 46px;
  margin: 20px 0px 22px 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.left-box p,
.right-box p {
  line-height: 26px;
  font-size: 16px;
  color: #7b7b7b;
  font-family: "Poppins", sans-serif;
  margin-bottom: 13px;
}

.left-box a,
.right-box a {
  line-height: 41px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #ff7a00;
  display: inline-block;
  vertical-align: middle;
}

.left-box a::after,
.right-box a::after {
  content: "";
  display: inline-block;
  width: 47px;
  height: 4px;
  background-color: #ff7a00;
  vertical-align: middle;
  margin-left: 18px;
}
.down {
  margin-top: 57px;
}
.button {
  width: 190px;
  height: 70px;
  background-color: #ff7a00;
  margin-top: 66px;
  text-align: center;
  position: relative;
}
.button a {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Poppins", sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.black {
  margin-top: 134px;
  background-color: #181c28;
  width: 100%;
  height: 266px;
  margin-bottom: 82px;
}

.footer div {
  float: left;
  margin-right: 198px;
}
.footer div:last-child {
  margin-right: 0;
  float: right;
}
.footer::after {
  content: "";
  display: block;
  clear: both;
}
.footer h2 {
  font-size: 24px;
  color: #282828;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.footer a {
  font-size: 16px;
  color: #7b7b7b;
  font-family: "Poppins", sans-serif;

  margin-bottom: 16px;
  line-height: 36px;
}
.last li {
  display: inline-block;
  vertical-align: middle;
}

.last {
  text-align: right;
}
footer p {
  float: right;
  color: #a4a4a4;
  font-size: 16px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}
.cl::after{
    content: '';
    clear: both;
    display: block;
}
span::after{
    content: ' \00A9';
}
.cl{
   margin-top: 53px;
    margin-bottom: 132px;
}